### Instructions

In [1]:
#The total number of months included in the dataset
#The total net amount of "Profit/Losses" over the entire period
#The greatest increase in profits (date and amount) over the entire period
#The greatest decrease in losses (date and amount) over the entire period

### Solution

In [2]:
#Import libraries
import pandas as pd
import numpy as np

In [48]:
#Read in csv file 
pybank_csv = pd.read_csv('Resources/budget_data.csv')

#Make dataset into a dataframe
pybank_df = pd.DataFrame(pybank_csv)
pybank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [60]:
# Finding the total number of months included in the dataset
total_months = pybank_df.shape[0]
print(total_months)

86

In [61]:
#The total net amount of "Profit/Losses" over the entire period
net_sum = pybank_df['Profit/Losses'].sum()
print(net_sum)

38382578

In [84]:
#The greatest increase in profits (date and amount) over the entire period
max_profit = pybank_df['Profit/Losses'].max()
# print(pybank_df['Profit/Losses']==max_profit)
max_profit_date = pybank_df.loc[pybank_df['Profit/Losses']==max_profit].iloc[0, 0]
print(max_profit)
# print(f'{max_profit}{max_profit_date}')
print(max_profit_date)

1170593
Feb-2012

In [86]:
min_profit = pybank_df['Profit/Losses'].min()
min_profit_date = pybank_df[pybank_df['Profit/Losses']==min_profit].iloc[0,0]
print(min_profit)
print(min_profit_date)

-1196225
Sep-2013

In [79]:
print('Financial Analysis')
print('---------------------------')
print(f'Total Months: {total_months}')
print(f'Total: {net_sum}')
print(f'Greatest Increase in Profits: {max_profit}')
print(f'Greatest Decrease in Profits: {min_profit}')

Financial Analysis
---------------------------
Total Months: 86
Total: 38382578
Greatest Increase in Profits: 1170593
Greatest Decrease in Profits: -1196225

In [87]:
pybank_df.sort_values(['Profit/Losses'])

        Date  Profit/Losses
44  Sep-2013       -1196225
78  Jul-2016       -1163797
73  Feb-2016       -1100387
31  Aug-2012       -1022534
24  Jan-2012        -755566
46  Nov-2013        -687986
63  Apr-2015        -524626
13  Feb-2011        -335203
8   Sep-2010        -216386
74  Mar-2016        -174946
11  Dec-2010         -80353
3   Apr-2010         -69417
83  Dec-2016          60988
18  Jul-2011          62729
38  Mar-2013          67780
65  Jun-2015          87795
81  Oct-2016         102685
22  Nov-2011         132003
52  May-2014         132864
84  Jan-2017         138230
34  Nov-2012         144175
64  May-2015         158620
26  Mar-2012         252788
45  Oct-2013         268997
23  Dec-2011         309978
4   May-2010         310503
37  Feb-2013         321469
2   Mar-2010         322013
69  Oct-2015         332067
36  Jan-2013         359333
..       ...            ...
77  Jun-2016         712961
75  Apr-2016         757143
80  Sep-2016         768450
71  Dec-2015         778237
12  Jan-2011         779806
33  Oct-2012         779976
42  Jul-2013         789480
15  Apr-2011         793163
82  Nov-2016         795914
55  Aug-2014         800701
28  May-2012         817256
50  Mar-2014         824098
21  Oct-2011         834719
67  Aug-2015         840723
0   Jan-2010         867884
41  Jun-2013         872480
10  Nov-2010         893810
20  Sep-2011         899906
57  Oct-2014         947333
1   Feb-2010         984655
59  Dec-2014         988505
70  Nov-2015         989499
43  Aug-2013         999942
61  Feb-2015        1029471
6   Jul-2010        1033096
60  Jan-2015        1139715
47  Dec-2013        1150461
27  Apr-2012        1151518
56  Sep-2014        1166643
25  Feb-2012        1170593

[86 rows x 2 columns]