### Instructions

In [1]:
#The total number of months included in the dataset
#The total net amount of "Profit/Losses" over the entire period
#The greatest increase in profits (date and amount) over the entire period
#The greatest decrease in losses (date and amount) over the entire period

### Solution

In [2]:
#Import libraries
import pandas as pd
import numpy as np

In [48]:
#Read in csv file 
pybank_csv = pd.read_csv('Resources/budget_data.csv')

#Make dataset into a dataframe
pybank_df = pd.DataFrame(pybank_csv)
pybank_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [60]:
# Finding the total number of months included in the dataset
total_months = pybank_df.shape[0]
print(total_months)

86

In [61]:
#The total net amount of "Profit/Losses" over the entire period
net_sum = pybank_df['Profit/Losses'].sum()
print(net_sum)

38382578

In [84]:
#The greatest increase in profits (date and amount) over the entire period
max_profit = pybank_df['Profit/Losses'].max()
# print(pybank_df['Profit/Losses']==max_profit)
max_profit_date = pybank_df.loc[pybank_df['Profit/Losses']==max_profit].iloc[0, 0]
print(max_profit)
# print(f'{max_profit}{max_profit_date}')
print(max_profit_date)

1170593
Feb-2012

In [86]:
min_profit = pybank_df['Profit/Losses'].min()
min_profit_date = pybank_df[pybank_df['Profit/Losses']==min_profit].iloc[0,0]
print(min_profit)
print(min_profit_date)

-1196225
Sep-2013

In [89]:
print('Financial Analysis')
print('---------------------------')
print(f'Total Months: {total_months}')
print(f'Total: {net_sum}')
print(f'Greatest Increase in Profits: {max_profit_date} (${max_profit})')
print(f'Greatest Decrease in Profits: {min_profit_date} (${min_profit})')

Financial Analysis
---------------------------
Total Months: 86
Total: 38382578
Greatest Increase in Profits: Feb-2012 ($1170593)
Greatest Decrease in Profits: Sep-2013 ($-1196225)